.box_1 {
  border: 0.5px solid red;
  border-radius: 10px;
  font-size: 28px;
}

.box_2 {
  font-weight: bold;
  font-style: italic;
}

.box_3 {
  background-color: black;
  font-family: monospace;
  color: white;
  box-shadow: 3px 3px lightblue;
}
