* {
  padding: 0;
  margin: 0;
}

section {
  background-color: aquamarine;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 6vh;
  align-items: center;
}

section nav ul {
  align-items: center;
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 30vw;
}

section section {
  padding-left: 10px;
}

section section a,
section nav ul li a {
  text-decoration: none;
}

@media screen and (max-width: 810px) {
  #_1 {
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
  }

  section nav ul {
    flex-direction: column;
    height: 50vw;
  }
}
